@import "../css/reset.css";
:root {
  --main: #f96b5f;
  --button: #c5054c;
}
* {
  color: black;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
html {
  margin: 0 !important;
  padding: 0 !important;
}
#page-account {
  .woocommerce {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}
#page-checkout {
  textarea,
  input {
    background: var(--main);
    padding: 5px 8px;
    border-radius: 4px;
  }
}
.cart,
.shop_table_responsive {
  background: white;
}
.wrapper {
  min-height: 100dvh;
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  padding-top: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  &__logo {
    width: 50px;
    aspect-ratio: 1;
  }
  &__start {
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
      font-size: 34px;
      letter-spacing: 1px;
      font-weight: 600;
      &:hover {
        color: var(--main);
      }
    }
  }
  .menu-menu-container {
    width: 100%;
    background: var(--main);
  }
  &__menu {
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    li {
      a {
        color: white;
        font-weight: 500;
      }
      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }
  .current_page_item a {
    border-bottom: 1px solid white;
  }
}

.footer {
  background: var(--main);

  &__content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-end;
    @media screen and (max-width: 1227px) {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
  &__links {
    & div:first-child {
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 60px;
        @media screen and (max-width: 631px) {
          grid-template-columns: repeat(2, 1fr);
        }
        li a {
          color: white;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__info p {
    color: white;
  }
}
.main {
  min-height: calc(100dvh - 288px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
  &__title {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
  }
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media screen and (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 675px) {
    grid-template-columns: repeat(1, 1fr);
  }
  gap: 18px;
}
.accordion {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
  &-header {
    cursor: pointer;
    padding: 15px 20px;
    background-color: white;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
  }
  &-content {
    max-height: 0;
    overflow: hidden;
    transition: min-height 0.3s ease-out, padding 0.3s ease-out;
    background: black;
    color: white;
    border-radius: 0 0 12px 12px;
    font-size: 18px;
  }
  &-open {
    .accordion-header {
      border-radius: 12px 12px 0 0;
    }
    .accordion-content {
      padding: 15px 20px;
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px 12px 0 0;
  }
  &__price {
    bdi,
    span {
      color: white;
      font-weight: 500;
      font-size: 18px;
    }
  }
  &__content {
    background: var(--main);
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    padding: 30px;
    border-radius: 0 0 12px 12px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: inherit;
  }
  &__title,
  &__description {
    p {
      color: white;
    }
    color: white;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__detail {
    width: fit-content;
    a {
      display: flex;
      padding: 8px 15px;
      font-size: 18px;
      font-weight: 500;
      background: white;
      border-radius: 8px;
      color: var(--main);
    }
    &:hover a {
      background: rgb(231, 231, 231);
      color: #f75d4f;
    }
  }
}

.blog-page {
  height: 100dvh;
}
.blog {
  display: flex;
  height: calc(100dvh - 288px);
  gap: 10px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    height: 100%;
  }

  &__main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    overflow-y: auto;
  }
  &__content {
    display: flex;
    flex-direction: column-reverse;

    p {
      background: var(--main);
      padding: 20px;
      color: white;
      font-size: 20px;
      strong {
        color: white;
        font-size: 20px;
        font-weight: 800;
      }
    }
    ol,
    ul {
      background: var(--main);
      padding: 20px;
      list-style: unset;
      li {
        color: white;
        font-size: 20px;
        strong {
          color: white;
          font-size: 20px;
          font-weight: 800;
        }
      }
    }
  }
  &__title {
    position: absolute;
    top: 300px;
    left: 15px;
    right: 15px;
    color: var(--main);
    padding: 8px;
    font-size: 30px;
    width: fit-content;
    font-weight: 500;
    border-radius: 4px;
    background: white;
  }
  figure {
    height: 400px;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 15px;
    height: 100%;
    background: var(--main);
    overflow-y: auto;
    overflow-x: hidden;
    h3 {
      color: white;
    }
    .nav-links {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      .nav-previous,
      .nav-next {
        width: fit-content;
        a span {
          color: white;
          font-size: 20px;
        }
      }
      .nav-previous a {
        span {
          &::before {
            content: "След.";
            font-size: 15px;
            margin-right: 10px;
          }
        }
      }
      .nav-next a {
        span {
          &::after {
            content: "Пред.";
            font-size: 15px;
            margin-left: 10px;
          }
        }
      }
    }
    .comment-author {
      display: flex;
      align-items: center;
      img {
        margin-right: 15px;
        border-radius: 50%;
      }
      .fn,
      .says {
        a {
          pointer-events: none;
          color: white;
        }
        color: white;
      }
    }
    .comment-meta a {
      color: white;
    }
    .comment-edit-link {
      background: var(--button);
      border-radius: 4px;
      padding: 3px 5px;
    }
    .comment-body {
      p {
        padding: 5px;
        color: var(--main);
        background: white;
        width: fit-content;
        border-radius: 6px;
        margin: 10px 0;
      }
    }
    .comment-reply-link {
      background: var(--button);
      border-radius: 4px;
      color: white;
      padding: 3px 5px;
    }
    .comment-form {
      .logged-in-as {
        color: white;
        a {
          color: var(--button);
        }
        span {
          color: white;
        }
      }
    }
    .comment-form-comment {
      .required,
      label {
        color: white;
      }
      textarea {
        width: 100%;
        word-break: break-word;
        background: white;
        border-radius: 4px;
        padding: 5px;
      }
    }
    .form-submit {
      input[type="submit"] {
        background: var(--button);
        border-radius: 4px;
        padding: 5px 8px;
        color: white;
        width: 100%;
        text-align: center;
      }
    }
  }
  &__main,
  &__nav {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
.company {
  display: flex;
  flex-direction: column;
  gap: 35px;
  &__title {
    z-index: 1;
    font-size: 28px;
    color: var(--main);
    z-index: 1;
    font-weight: 700;
  }
  &__text {
    z-index: 1;
    color: white;
    font-size: 20px;
    line-height: 28px;
  }
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background: black;
    border-radius: 6px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 30%;
      background-image: url("https://kartinki.pics/uploads/posts/2022-12/thumbs/1670241458_kartinkin-net-p-istinnaya-krasota-kartinki-instagram-30.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 6px;
      background-attachment: fixed;
    }
  }
  &__questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    background: pink;
    padding: 30px;
    border-radius: 6px;
    .company__title {
      color: black;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 30%;
      background-image: url("https://i.pinimg.com/originals/ec/40/fc/ec40fc628ff643f76ce9815926218671.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 6px;
      background-attachment: fixed;
    }
  }
  &__stuff {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    padding: 30px;
    border-radius: 6px;
    background: black;
    .company__title {
      color: white;
    }
    &-taxonomy {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    &-title {
      font-size: 22px;
      text-align: center;
      background: white;
      border-radius: 10px;
      padding: 15px 0;
      max-width: 740px;
      width: 100%;
      margin: 0 auto;
      font-weight: 600;
    }
    &-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
      gap: 10px;
    }
    &-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
      p {
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      strong {
        display: none;
      }
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  &__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    &-detail {
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 5px;
      border-bottom: 2px solid var(--main);
      strong {
        font-size: inherit;
        font-weight: 700;
      }
    }
    &-label {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 500;
      font-size: 17px;
      span input,
      textarea {
        padding: 8px 15px;
        border-radius: 4px;
        border: 2px solid var(--main);
        width: 100%;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 500px;
    width: 100%;
  }
  input[type="submit"] {
    border-radius: 8px;
    background: var(--main);
    color: white;
    padding: 8px 15px;
    cursor: pointer;
  }
}
.home {
  display: flex;
  flex-direction: column;
  gap: 35px;
  &__title {
    font-size: 28px;
    font-weight: 700;
  }
  &__products,
  &__blogs,
  &__stuff {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    gap: 15px;
  }
  &__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 990px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 726px) {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 15px;
  }
  &__products {
    &-card {
      display: flex;
      flex-direction: column;
    }
  }
  &__advantages {
    &-card {
      display: flex;
      flex-direction: column-reverse;
      gap: 15px;
      height: 100%;
      align-items: center;
      padding: 30px;
      border-radius: 12px;
      background: white;
      -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
      h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
      }
      img {
        height: 200px;
        object-fit: contain;
      }
    }
  }
  &__stuff {
    &-card {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 18px;
      padding: 30px;
      border-radius: 12px;
      background: black;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
      h3 {
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      strong {
        display: none;
      }
    }
  }
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
  @media screen and (max-width: 531px) {
    grid-template-columns: repeat(1, 1fr);
  }
  gap: 18px;
  &__card {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    height: 250px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
      scale: 1.03;
    }
    &-сover {
      position: relative;
      height: 100%;
      img {
        width: 100%;
        transition: 0.3s ease-in;
        object-fit: cover;
        height: 100%;
      }
      h2 {
        position: absolute;
        bottom: 10px;
        left: 20px;
        background: white;
        font-size: 28px;
        font-weight: 600;
        padding: 8px 12px;
        border-radius: 6px;
        letter-spacing: 1px;
      }
    }
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  @media screen and (max-width: 531px) {
    grid-template-columns: repeat(1, 1fr);
  }
  gap: 15px;
}
.product {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    height: 100%;
  }
  &__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    img {
      margin: 0 auto;
      max-height: 350px;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
  }
  &__description {
    font-size: 25px;
    font-weight: 500;
  }
  &__details {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    #comments {
      font-size: 20px;
    }
    form {
      .logged-in-as {
        a {
          color: var(--main);
        }
      }
      .comment-form-comment {
        textarea {
          background: var(--main);
          border-radius: 6px;
          padding: 8px;
          width: 100%;
        }
      }
      .form-submit {
        input[type="submit"] {
          background: black;
          padding: 4px;
          border-radius: 4px;
          cursor: pointer;
          color: white;
        }
      }
    }
    .commentlist {
      background: var(--main);
      padding: 5px;
      border-radius: 4px;
    }
    .comment-body {
      p {
        color: white;
      }
    }
    .reply {
      margin-top: 10px;
      a {
        background: black;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;
        color: white;
      }
    }
    .comment-meta {
      a {
        color: white;
      }
    }
    .comment-edit-link {
      background: black;
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;
    }
    .comment-author {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        border-radius: 50%;
      }
      .says {
        color: white;
      }
      .fn a {
        color: white;
      }
    }
  }
  &__content,
  &__details {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      line-height: 27px;
      font-size: 18px;
    }
  }
  &__price {
    font-weight: 600;
    font-size: 24px;
    span {
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: 1px;
      bdi {
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: 1px;
        span {
          font-size: inherit;
          font-weight: inherit;
          letter-spacing: 1px;
        }
      }
    }
  }
  &__to-cart {
    padding: 10px 15px;
    background: var(--main);
    border-radius: 8px;
    width: fit-content;
    font-size: 18px;
    color: white;
  }
}
.woocommerce-MyAccount-navigation {
  .is-active {
    border-color: black;
    a {
      color: black;
    }
  }
  ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    li {
      border: 1px solid var(--main);
      border-radius: 4px;
      background: white;
      padding: 8px 10px;
      a {
        color: var(--main);
        font-weight: 500;
        padding: 8px 10px;
      }
    }
  }
}
